body.page-template-page-a-propos{
	margin-top: 105px;

    @media (max-width: 768px) {
        margin-top: 80px;
    }

    #page-builder {
        .row {
            &.text-fw {
                .col-sm-12 {
                    padding: 100px 15px;

                    h1,h2,h3,h4,h5,h6 {
                        margin-bottom: 15px;
                    }
                }
            }

            &.image-fw {
                .col-sm-12 {
                    padding: 150px 0;
                    background-size: cover;
                    background-position: center center;
                    min-height: 65vh;
                    display: flex;

                    .container {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .texte {
                    color: white;
                    text-align: left;
                    font-weight: bold;
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            &.video {
                text-align: center;

                .col-sm-12 {
                    padding: px 15px;
                    cursor: pointer;
                    min-height: 50vh;
                    position: relative;

                    &:hover {
                        .play-video {
                            opacity:0.5;
                        }

                        p {
                            opacity:0.5;
                        }
                    }
                }

                .play-video {
                    width: 75px;
                    height: 75px;
                    opacity: 1;
                    transition: 0.5s opacity ease-in-out;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }

                p {
                    font-size: 25px;
                    font-weight: bold;
                    color: white;
                    margin-top: 30px;
                    opacity: 1;
                    transition: 0.5s opacity ease-in-out;
                }
            }
        }

        .hidden-desc {
            position: absolute;
            left: -999999999px;
            opacity: 0;
        }
    }
}