body.blog {
    margin-top: 88px;

    @media (max-width: 768px) {
        margin-top: 40px;
    }

    #blog {
        padding-top: 60px;
        width: 1290px;
    }

    .main-article {
        margin-bottom: 60px;
        padding: 20px 0;
        width: 100%;
        float: left;

        .main-article-image {
            float: left;
            width: 600px;
            height: 360px;

            a {
                display: block;
                background: url('../images/spinner.gif') 50% no-repeat;
                width: 600px;
                height: 360px;
            }
        }

        .main-article-content {
            float: right;
            width: 600px;

            h2 a {
                display: inline-block;
                font-size: 24px;
                line-height: 26px;
                margin-bottom: 10px;
            }
        }
    }

    .secondary-articles {
        width: 100%;
    }

    .default-article {
        margin-right: 67px;
        padding: 10px 0;
        width: 375px;
        float: left;

        &:nth-of-type(3n) {
            margin-right: 0;
        }

        .article-image {
            a {
                display: block;
                background: url('../images/spinner.gif') 50% no-repeat;
                height: 225px;
                width: 375px;
            }
        }

        .article-content {
            height: 182px;
            padding: 20px 0;

            h2 a {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                width: 375px;
            }

            p {
                font-size: 15px;
                height: 109px;
            }
        }
    }
}


//----------------------------------------------------------------------------------------------------------------------
// Page Single Article Style
//----------------------------------------------------------------------------------------------------------------------
body.single-post {
    margin-top: 88px;

    @media (max-width: 768px) {
        margin-top: 40px;
    }

    .article-full {
        margin: 0 auto;
        padding: 60px 0;
        width: 900px;

        .post {
            header {
                margin-bottom: 20px;
            }

            p {
                margin-bottom: 15px;
            }

            a:hover {
                opacity: 1;
            }

            img {
                margin: 20px 0;
            }

            .nc_socialPanel {
                margin-top: 50px!important;
            }
        }


        // Comments Section
        .comments {
            h2 {
                margin: 30px 0;
            }
        }

        .comment-list {
            margin-bottom: 30px;

            li.comment,
            article {
                margin-bottom: 7px;
            }
        }
    }

    .nc_socialPanel {
        overflow: visible;
        position: relative;

        &:before {
            content: 'Partagez cet article';
            font-family: sucrose;
            letter-spacing: .05em;
            text-transform: uppercase;
            color: #000;
            font-weight: 900;
            position: absolute;
            top: -26px;
            left: 0;
        }
    }

    .nc_wrapper {
        .nc_socialPanel {
            margin-top: 40px!important;
        }
    }

    &.en {
        .nc_socialPanel {
            &:before {
                content: 'Share this article';
            }
        }
    }
}

body.fr {
    .article-full {
        .swp_label {
            font-size: 8px !important;
        }
    }
}


//----------------------------------------------------------------------------------------------------------------------
// MEDIA QUERIES
//----------------------------------------------------------------------------------------------------------------------
@media (max-width: 1290px) {
    body.blog {
        #blog {
            width: 100%;
        }

        .main-article {
            margin-bottom: 4%;

            .main-article-image {
                width: 50%;
                height: auto;
            }

            .main-article-content {
                width: calc(50% - 30px);
            }
        }

        .default-article {
            margin-right: 5%;
            width: 30%;

            .article-image a {
                width: 100%;
                height: auto;
            }
        }
    }
}

@media (max-width: 900px) {
    body.single-post {
        .article-full {
            margin: 0 25px;
            width: calc(100% - 50px);

            .post {
                img {
                    max-width: 100%;
                    display: inline-block;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    body.blog {
        #blog.container-fluid {
            padding-left: 25px;
            padding-right: 25px;
        }

        .main-article {
            margin-bottom: 0;

            .main-article-image {
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .main-article-content {
                padding-top: 15px;
                width: 100%;
            }
        }

        .default-article {
            margin-right: 6%;
            width: 47%;

            &:nth-of-type(2n) {
                margin-right: 0;
            }

            &:nth-of-type(3n) {
                margin-right: 10%;
            }
        }
    }
}

@media (max-width: 630px) {
    body.blog {
        .main-article {
            .main-article-content {
                h2 {
                    a {
                        font-size: 18px;
                    }
                }
                p {
                    font-size: 15px;
                }
            }
        }

        .default-article {
            margin-right: 0;
            width: 100%;

            &:nth-of-type(3n) {
                margin-right: 0;
            }

            .article-content {
                height: auto;
                max-height: 182px;

                p {
                    height: auto;
                    max-height: 109px;
                }
            }
        }
    }
}
