#product-list {
    margin-top: 140px;
    padding: 40px;
    margin-bottom: 40px;

    .row {
        display: flex;
        flex-wrap: wrap;

        .col-sm-12 {
            margin-bottom: 50px;
            text-align: center;
        }
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 18px;
        font-family: $apercu;
        font-weight: bold;
        color: black;
        text-transform: none;
        margin-bottom: 0px;
    }

    .col-sm-4{
        float:none;
        background-color: #f2f2f2;
        border: 15px solid white;
        border-bottom: 0;
    }

    .price {
        font-size: 13px;
        color: #9a9a9a;
        display: inline-block;
        position: relative;

        &.no-stock {
            .woocs_price_code {
                background: url('../images/trait.png') 0 4px no-repeat;
                display: inline-block;
                width: 77px;
            }
        }

        .out-of-stock {
            width: 56px;
            height: 24px;
            position: absolute;
            right: -60px;
            top: 0;

            &.en {
                background: url('../images/sold-en.png') 0 0 no-repeat;
            }

            &.fr {
                background: url('../images/sold-fr.png') 0 0 no-repeat;
            }
        }
    }

    .description {
        color: #9a9a9a;
        font-weight: bold;
        font-size: 15px;
        max-width: 900px;
        margin: 0 auto;
    }

    .spec-top {
        display: table;
        margin-left: auto;
        margin-right: auto;

        li {
            @media (max-width: 1440px) {
                margin-bottom: 2px;
            }

            margin-bottom: 10px;

            span {
                float: left;
                margin-right: 12px;
                color: #616161;
                font-weight: bold;
                font-size: 14px;
                width: 80px;
                text-align: right;
            }
        }
    }

    .default-product {
        margin-bottom: 30px;

        .content-default {
            position: relative;
            background-color: #f2f2f2;
            padding: 30px 30px 50px;
            overflow: hidden;
            height: 100%;

            .section-top {
                position: relative;
                z-index: 2;
            }

            .image-product {
                display: table;
                position: relative;
                margin-top: 15px;
                min-height: 152px;
                background: #f2f2f2 url('../images/spinner.gif') 50% no-repeat;

                &.img-loaded {
                    background: #f2f2f2;
                }

                img {
                    display: block;
                    transition: 0.5s transform;
                }
            }
        }

        .hover {
            opacity: 0;
            position: absolute;
            top: 0;
            z-index: 1;
            min-height: 100%;
            left: 0;
            width: 100%;
            background: rgb(242, 242, 242);
            background: rgba(242, 242, 242, 0.9);
            transition: 0.5s opacity;
            overflow-y: auto;
            padding: 80px 15px 50px;
            height: 100%;

            .cont{
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }

            .spec-bottom {
                display: table;
                margin: 50px auto 60px;

                li {
                    display: inline-block;
                    font-size: 14px;
                    color: #858585;
                    text-align: center;
                    font-family: $apercu;

                    span {
                        color: #504949;
                    }

                    &:nth-child(2) {
                        padding-left: 35px;
                        padding-right: 35px;
                    }
                }
            }

            .btn-default-prod {
                display: table;
                margin-left: auto;
                margin-right: auto;

                button {
                    float: left;
                    opacity: 0.75;
                    color: white;
                    padding: 15px 25px;
                    min-width: 115px;
                    font-size: 18px;
                    border-radius: 5px;
                    border: 0;
                    transition: 0.5s opacity;
                    background-color: #aa7341;
                    margin-left: 20px;

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }

        &:hover, &:focus {
            .content-default {
                .image-product {
                    img {
                        transform: translateY(-15px);
                    }

                    &:after {
                        width: 65%;
                    }
                }
            }

            .hover {
                opacity: 1;
            }
        }
    }
}

#page-default {
    &.page-template-page-custom-boards {
        #product-list {
            .default-product {
                .content-default {
                    background-color: #ffffff;
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    #product-list {
        .spec-top {
            li {
                span {
                    float: none;
                    display: block;
                    text-align: left;
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    #product-list {
        .default-product{
            padding: 0 7px;
        }
    }
}

@media (max-width: 1176px) {
    #product-list {
        .price {
            .out-of-stock {
                background-size: 75% !important;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1100px) {
    #product-list {
        .spec-top li span {
            font-size: 12px;
            width: 120px;
        }

        .meter.single li {
            height: 6px;
            width: 15px;
        }

        .default-product {
            .hover {
                padding: 80px 15px 25px;

                .btn-default-prod button {
                    padding: 10px 15px;
                    font-size: 14px;
                }

                .spec-bottom {
                    margin: 0px auto;

                    li {
                        font-size: 11px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 976px) {
    #product-list {
        .spec-top li span {
            font-size: 12px;
            width: 120px;
        }

        .default-product {
            width:50%;

            .hover {
                .btn-default-prod button{
                    padding: 12px 25px;
                    display: table;
                    margin: auto;
                    margin-top: 10px;
                    float: none;
                    margin-left: 0px !important;
                }

                .spec-top{
                    display:none;
                }

                .spec-bottom{
                    li{
                        display:block;
                    }
                }
            }
        }

        .price {
            .out-of-stock {
                background-size: 100% !important;
            }
        }
    }
}

@media (max-width: 768px) {
    #product-list {
        margin-top: 100px;
        padding: 20px;

        h2 {
            font-size: 28px;
        }

        .col-sm-12{
            width:100%;
            clear:both;
        }

        .description {
            font-size: 12px;
            margin-bottom: 15px;
        }

        .default-product {
            &:nth-child(odd){
                border-left:5px solid white;
            }

            &:nth-child(even){
                border-right:5px solid white;
            }

            .content-default {
                padding: 15px 5px;

                .section-top{
                    margin-top: 0;
                }

                .image-product{
                    &:after {
                        display: none;
                    }
                }
            }

            .hover{
                padding:0;

                .spec-bottom{
                    margin: 45px auto 60px;
                }
            }

            &:hover {
                .content-default .image-product {
                    img {
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    #product-list {
        .price {
            .out-of-stock {
                background-size: 75% !important;
                left: 18px;
                top: 16px;
            }
        }

        .default-product {
            margin-bottom: 20px;

            .content-default {
                .section-top {
                    padding-bottom: 10px;
                }
            }
        }

        .row {
            .col-sm-12 {
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width: 370px) {
    #product-list {
        .default-product {
            .hover {
                .spec-bottom {
                    margin: 0px auto;

                    li {
                        display: block;

                    }
                }
            }
        }
    }
}


#product-list {
    .default-product {
        .content-default {
            .image-product {
                @media (min-width: 1901px) {
                    min-height: 368px;
                }
                @media (max-width: 1900px) {
                    min-height: 333px;
                }
                @media (max-width: 1760px) {
                    min-height: 293px;
                }
                @media (max-width: 1600px) {
                    min-height: 253px;
                }
                @media (max-width: 1440px) {
                    min-height: 234px;
                }
                @media (max-width: 1300px) {
                    min-height: 203px;
                }
                @media (max-width: 1176px) {
                    min-height: 153px;
                }
                @media (max-width: 976px) {
                    min-height: 376px;
                }
                @media (max-width: 968px) {
                    min-height: 337px;
                }
                @media (max-width: 760px) {
                    min-height: 269px;
                }
                @media (max-width: 624px) {
                    min-height: 197px;
                }
                @media (max-width: 480px) {
                    min-height: 153px;
                }
                @media (max-width: 370px) {
                    min-height: 126px;
                }
            }
        }
    }
}