#page-default {
    #recap_variable {
        background: none;
        padding: 0;

        h2 {
            display: none;
        }
    }

    .variable-product {
        margin-top: 140px;
        padding: 40px 40px 0;

        div.product {
            margin-bottom: 50px;

            &:before,
            &:after {
                content: "";
                display: table;
            }

            &:after {
                clear: both;
            }

            form.cart .button {
                padding: 15px 60px;
                margin-top: 35px;
            }

            div.images {
                float: left;
                width: 48%;

                section:first-child {
                    float: right;
                    width: 80%;
                }

                #wpis-gallery {
                    float: left;
                    width: 20%;
                    padding: 7% 3%;

                    .slick-track {
                        width: 100% !important;
                    }

                    .slick-slide {
                        float: left;
                        margin-bottom: 15px;
                        width: 100% !important;
                    }
                }
            }
        }

        .variation-size {
            background-color: #ccc;
            border: 1px solid #ccc;
            cursor: pointer;
            float: left;
            text-align: center;
            margin-right: 10px;
            min-width: 55px;
            padding: 3px 10px;

            &.current{
                border: 1px solid #000;
            }
        }

        #sidebar, #footer, #header,
        .woocommerce-tabs,
        .woocommerce-breadcrumb,
        .product_meta,
        .quantity,
        .reset_variations {
            display: none !important;
        }

        .variations {
            margin-bottom: 0;
            width: 35%;

            .label {
                color: #000;
                font-size: 18px;
            }
        }

        table {
            td, th {
                padding: 0!important;
            }
        }

        .variations_form select {
            -moz-appearance: none;
            -webkit-appearance: none;
            background: none;
            border: none;
            border-radius: 0;
            padding: 4px 0 0;
            margin-bottom: 0;
            font-family: apercu;
            font-size: 18px;
            font-weight: 700;
        }

        .summary > [itemprop="offers"] {
            display: block;
            margin: 5px 0 35px;

            p.price {
                font-size: 16px;
            }
        }

        .prod-desc {
            padding: 30px 0;
        }
    }

    &.single-product {
        .pp_pic_holder {
            .ppt,
            .pp_gallery,
            .pp_play,
            .pp_next,
            .pp_previous {
                display: none !important;
            }
        }

        .pp_arrow_previous,
        .pp_arrow_next {
            position: relative;
            top: 4px;
        }
    }

    @media (max-width: 1492px) {
        .variable-product {
            margin-top: 100px;
        }
    }

    @media (max-width: 768px) {
        .variable-product {
            div.product {
                div.images {
                    float: none;
                    margin-bottom: 50px;
                    width: 100%;
                }
            }
        }
    }

    @media (max-width: 511px) {
        .variable-product {
            div.product {
                div.images {
                    margin-bottom: 10px;

                    section:first-child {
                        float: none;
                        width: 100%;
                    }

                    #wpis-gallery {
                        float: none;
                        padding: 7% 0;
                        width: 100%;

                        .slick-slide {
                            max-width: 25%!important;
                        }
                    }
                }
            }

            .variation-size {
                margin-bottom: 10px;
            }
        }
    }
}