#page-board {
    padding-top: 88px;

    /*-------------------------------------------*/
    /* PAGE BOARD (SINGLE VIEW)
    /*-------------------------------------------*/
    #fixed-menu-single-product {
        height: 1000px;
        width: 190px;
        float: left;
        border-right: 2px solid #e6e6e6;
        top: 150px;
        padding: 2em;
        z-index: 5;
        background: rgb(255, 255, 255);
        background: rgba(255, 255, 255, 0.8);

        .menu-single-product {
            position: fixed;
        }

        li {
            a {
                color: black;
                text-decoration: none;
                font-family: sucrose;
                letter-spacing: .08em;
                text-transform: uppercase;
                border-bottom: 2px solid black;
                padding-bottom: 0;
                transition: 0.5s padding-bottom ease-in-out, 0.5s opacity ease-in-out;
                margin-bottom: 15px;
                display: table;

                &:hover {
                    padding-bottom: 3px;
                }

                &.current {
                    opacity: 0.4;
                }
            }

            &:last-of-type {
                a {
                    margin-bottom: 0;
                }
            }
        }
    }

    .col2-layout {
        width: calc(100% - 190px);
        float: right;
    }

    #header-product {
        padding-top: 30px;
        text-align: center;

        &.white {
            h1, h3, .description {
                color: white;
            }

            a.button {
                color: black;
                background-color: white;
            }
        }

        #slider-container {
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
            opacity: 0;
            max-height: 300px;
            transition: 0.5s opacity, 0.5s max-height;

            img {
                width: auto;
                margin-left: auto;
                margin-right: auto;
            }

            .slick-dots {
                bottom: -20px;

                li {
                    button {
                        border: 1px solid #cccccc;
                    }

                    &.slick-active {
                        button {
                            background-color: #cccccc;
                        }
                    }
                }
            }

            &.visible-slider {
                max-height: 1000px;
                opacity: 1;
            }

            .slick-dots li button:before {
                display: none;
            }
        }

        .slider {
            margin-bottom: 60px;
        }

        h1 {
            font-size: 55px;
        }

        a.button {
            background-color: black;
            color: white;
            font-size: 15px;
            padding: 15px;

            &.disabled {
                cursor: pointer !important;
                pointer-events: none;

                &:hover {
                    background-color: black !important;
                }
            }
        }

        .description {
            font-size: 18px;
            font-family: $apercu;
            color: black;
            margin-bottom: 30px;
            margin-top: 25px;
        }

        #specs {
            margin-top: 150px;
            display: table;
            margin-left: auto;
            margin-right: auto;

            &.black {
                li {
                    color: black;

                    .meter {
                        li {
                            background-color: black;
                        }
                    }
                }
            }

            span {
                display: block;
                margin-top: 25px;
            }

            .description-meter {
                position: absolute;
                display: none;
                float: left;
                text-align: left;
                color: black;
                padding: 15px 20px;
                z-index: 9;
                width: auto;
                max-width: 50%;
                font-size: 12px;
                background: rgb(255, 255, 255);
                background: rgba(255, 255, 255, 0.70);

                @media (max-width: 1380px) {
                    max-width: 80%;
                }
            }

            li {
                display: inline-block;
                color: white;
                font-family: $apercu;
                font-weight: bold;
                position: relative;
                margin: 0 50px;
                width: 83px;

                @media (max-width: 1860px) {
                    margin: 0 45px;
                }

                @media (max-width: 1770px) {
                    margin: 0 40px;
                }

                @media (max-width: 1680px) {
                    margin: 0 35px;
                }

                @media (max-width: 1592px) {
                    margin: 0 30px;
                }

                @media (max-width: 1504px) {
                    margin: 0 25px;
                }

                @media (max-width: 1410px) {
                    margin: 0 20px;
                    width: 73px;
                    font-size: 16px;
                }

                @media (max-width: 1230px) {
                    margin: 0 15px;
                }

                @media (max-width: 1138px) {
                    margin: 0 10px;
                }

                @media (max-width: 1052px) {
                    margin: 0 8px;
                    width: 65px;
                    font-size: 14px;
                }

                @media (max-width: 940px) {
                    margin: 0 4px;
                }

                @media (max-width: 868px) {
                    margin: 0;
                }

                @media (max-width: 768px) {
                    width: auto;
                }

                span {
                    display: block;
                    margin-top: 25px;
                }

                .meter {
                    display: table;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;

                    li {
                        display: block;
                        width: 10px;
                        background-color: white;
                        height: 25px;
                        margin: 0 0 2px 0;
                        opacity: 0.33;

                        &:first-of-type {
                            border-radius: 5px 5px 0px 0px;
                        }

                        &:last-of-type {
                            border-radius: 0px 0px 5px 5px;
                        }
                    }

                    &.out-of-1 {
                        li:nth-child(10) {
                            opacity: 1;
                        }
                    }

                    &.out-of-2 {
                        li:nth-child(10), li:nth-child(9) {
                            opacity: 1;
                        }
                    }

                    &.out-of-3 {
                        li:nth-child(10), li:nth-child(9), li:nth-child(8) {
                            opacity: 1;
                        }
                    }

                    &.out-of-4 {
                        li:nth-child(10), li:nth-child(9), li:nth-child(8), li:nth-child(7) {
                            opacity: 1;
                        }
                    }

                    &.out-of-5 {
                        li:nth-child(10), li:nth-child(9), li:nth-child(8), li:nth-child(7), li:nth-child(6) {
                            opacity: 1;
                        }
                    }

                    &.out-of-6 {
                        li:nth-child(10), li:nth-child(9), li:nth-child(8), li:nth-child(7), li:nth-child(6), li:nth-child(5) {
                            opacity: 1;
                        }
                    }

                    &.out-of-7 {
                        li:nth-child(10), li:nth-child(9), li:nth-child(8), li:nth-child(7), li:nth-child(6), li:nth-child(5), li:nth-child(4) {
                            opacity: 1;
                        }
                    }

                    &.out-of-8 {
                        li:nth-child(10), li:nth-child(9), li:nth-child(8), li:nth-child(7), li:nth-child(6), li:nth-child(5), li:nth-child(4), li:nth-child(3) {
                            opacity: 1;
                        }
                    }

                    &.out-of-9 {
                        li:nth-child(10), li:nth-child(9), li:nth-child(8), li:nth-child(7), li:nth-child(6), li:nth-child(5), li:nth-child(4), li:nth-child(3), li:nth-child(2) {
                            opacity: 1;
                        }
                    }

                    &.out-of-10 {
                        li:nth-child(10), li:nth-child(9), li:nth-child(8), li:nth-child(7), li:nth-child(6), li:nth-child(5), li:nth-child(4), li:nth-child(3), li:nth-child(2), li:nth-child(1) {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .stats-single {
            background-size: cover;
            background-position: top center;
            background-repeat: no-repeat;
            padding-bottom: 70px;
            padding-top: 70px;

            @media (max-width: 768px) {
                padding-bottom: 40px;
                padding-top: 40px;
            }
        }
    }

    #page-builder {
        .row {
            &.image {
                padding: 85px 15px;
                background-image: url('../images/stardust_white.png');
                background-size: contain;
                position: relative;

                > div {
                    background: url('../images/spinner.gif') 50% no-repeat;
                    min-height: 170px;

                    &.img-loaded {
                        background: none;
                        min-height: auto;
                    }
                }

                img {
                    display: table;
                    margin-left: auto;
                    margin-right: auto;
                }

                h3 {
                    text-align: center;
                    font-size: 30px;
                    margin-bottom: 65px;
                }

                &:nth-child(odd) {
                    .bg {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: black;
                        top: 0;
                        left: 0;
                        opacity: 0.1;
                    }
                }
            }

            &.image-fw {
                .col-sm-12 {
                    background-repeat: no-repeat;
                }
            }

            &.video {
                .play-video {
                    width: 75px;
                    height: 75px;
                    opacity: 1;
                    transition: opacity .5s ease-in-out;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%,-50%);
                    transform: translate(-50%,-50%);
                }

                .col-sm-12 {
                    padding: 0 15px;
                    cursor: pointer;
                    min-height: 50vh;
                    position: relative;
                }
            }

            &.text-fw {
                .col-sm-12 {
                    padding: 100px 15px;

                    h1,h2,h3,h4,h5,h6 {
                        margin-bottom: 15px;
                    }
                }
            }
        }

        .hidden-desc{
            position: absolute;
            left: -999999999px;
            opacity: 0;
        }
    }

    #bottom-sales-section {
        padding: 30px;
        position: relative;

        .outer-anchor {
            position: absolute;
            top: -80px;
        }

        .row > div {
            background-color: #ffffff;
            padding: 40px 0 50px;
        }

        .board {
            display: table;
            margin-left: 5%;
            margin-right: 5%;
            width: 90%;
        }

        p {
            font-weight: 700;
            color: black;
            text-align: center;

            &.price {
                font-size: 14px;
                color: #7f7f7f;
                margin-bottom: 50px;
            }
        }

        .image-board {
            position: relative;
            display: table;
            width: 100%;

            img {
                width: 100%;
            }

            .button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: rgb(0, 0, 0);
                background: rgba(0, 0, 0, 0.9);
                padding: 15px 20px;
                font-weight: 700;
                color: white;
                margin-top: 15px;
                opacity: 0;
                transition: 0.5s all;

                &:hover {
                    background-color: black !important;
                }

                &.disabled {
                    cursor: pointer !important;
                    pointer-events: none;
                }
            }

            &:hover {
                .button {
                    opacity: 1;
                    margin-top: 0;
                }
            }
        }

        @media (max-width: 925px) {
            p {
                font-size: 15px;
            }
        }

        @media (max-width: 810px) {
            p {
                font-size: 14px;
            }
        }

        @media (min-width: 769px) {
            .row > div {
                width: 49%;
                margin-left: 2%;
                padding: 2.5% 0 2.5%;

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        @media (max-width: 768px) {
            p {
                font-size: 18px;
            }

            .row > div:first-child {
                margin-bottom: 20px;
            }
        }
    }

    @media (max-width: 768px) {
        #fixed-menu-single-product{
            display:none;
        }

        div.single-product,
        div.single-product.col2-layout {
            width: 100%;
            float: none;
        }

        #page-builder {
            .row {
                &.image-fw {
                    .col-sm-12 {
                        background-size: contain;
                        height: 500px;
                    }
                }
            }
        }

        #header-product{
            .slider{
                padding-left:15px;
                padding-right:15px;
            }

            #specs{
                margin-top:45px;

                li{
                    display:block;
                    margin-right:0;

                    .meter{
                        display:block;

                        li{
                            display:inline-block;
                            height:10px;
                            width:15px;

                            &:first-of-type{
                                border-radius: 5px 0px 0px 5px;
                            }

                            &:last-of-type{
                                border-radius: 0px 5px 5px 0px;
                            }
                        }

                        &.out-of-1{
                            li:nth-child(1){
                                opacity:1;
                            }

                            li:nth-child(10){
                                opacity:0.5;
                            }
                        }

                        &.out-of-2{
                            li:nth-child(1),li:nth-child(2){
                                opacity:1;
                            }

                            li:nth-child(10),li:nth-child(9){
                                opacity:0.5;
                            }
                        }

                        &.out-of-3{
                            li:nth-child(1),li:nth-child(2),li:nth-child(3){
                                opacity:1;
                            }

                            li:nth-child(10),li:nth-child(9),li:nth-child(8){
                                opacity:0.5;
                            }
                        }

                        &.out-of-4{
                            li:nth-child(1),li:nth-child(2),li:nth-child(3),li:nth-child(4){
                                opacity:1;
                            }

                            li:nth-child(10),li:nth-child(9),li:nth-child(8),li:nth-child(7){
                                opacity:0.5;
                            }
                        }

                        &.out-of-5{
                            li:nth-child(1),li:nth-child(2),li:nth-child(3),li:nth-child(4),li:nth-child(5){
                                opacity:1;
                            }
                            li:nth-child(10),li:nth-child(9),li:nth-child(8),li:nth-child(7),li:nth-child(6){
                                opacity:0.5;
                            }
                        }

                        &.out-of-6{
                            li:nth-child(1),li:nth-child(2),li:nth-child(3),li:nth-child(4),li:nth-child(5),li:nth-child(6){
                                opacity:1;
                            }

                            li:nth-child(10),li:nth-child(9),li:nth-child(8),li:nth-child(7){
                                opacity:0.5;
                            }
                        }

                        &.out-of-7{
                            li:nth-child(1),li:nth-child(2),li:nth-child(3),li:nth-child(4),li:nth-child(5),li:nth-child(6),li:nth-child(7){
                                opacity:1;
                            }

                            li:nth-child(10),li:nth-child(9),li:nth-child(8){
                                opacity:0.5;
                            }
                        }

                        &.out-of-8{
                            li:nth-child(1),li:nth-child(2),li:nth-child(3),li:nth-child(4),li:nth-child(5),li:nth-child(6),li:nth-child(7),li:nth-child(8){
                                opacity:1;
                            }

                            li:nth-child(10),li:nth-child(9){
                                opacity:0.5;
                            }
                        }

                        &.out-of-9{
                            li:nth-child(1),li:nth-child(2),li:nth-child(3),li:nth-child(4),li:nth-child(5),li:nth-child(6),li:nth-child(7),li:nth-child(8),li:nth-child(9){
                                opacity:1;
                            }
                            li:nth-child(10){
                                opacity:0.5;
                            }
                        }

                        &.out-of-10{
                            li:nth-child(10),li:nth-child(9),li:nth-child(8),li:nth-child(7),li:nth-child(6),li:nth-child(5),li:nth-child(4),li:nth-child(3),li:nth-child(2),li:nth-child(1){
                                opacity:1;
                            }
                        }
                    }

                    span{
                        margin-top:0;
                        margin-bottom:15px;
                    }
                }

                .description-meter{
                    display:none!important;
                }
            }
        }
    }


    /*-------------------------------------------*/
    /* PAGE BOARD (CUSTOMIZE VIEW)
    /*-------------------------------------------*/
    .variable-product {
        .woocommerce-breadcrumb,
        .product_meta,
        .quantity,
        .reset_variations {
            display: none !important;
        }
    }

    .main-panel {
        padding-right: 455px;

        .recommended-setup {
            padding-top: 60px;
            text-align: center;

            h2 {
                font-family: 'apercu', Arial, Helvetica, sans-serif;
                margin-bottom: 15px;
            }

            h3 {
                font-family: 'apercu', Arial, Helvetica, sans-serif;
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 50px;
                text-transform: none;
            }

            .board-setup {
                border: 3px solid #ffffff;
                cursor: pointer;
                display: inline-block;
                margin: 0 30px;
                padding: 20px;
                text-align: center;
                width: 26%;

                img {
                    height: auto;
                    width: 100%;
                }

                h4 {
                    font-size: 20px;
                    margin: 40px 0 15px
                }

                span {
                    font-size: 24px;
                }

                &.selected-setup {
                    border-color: #ba8841;
                }
            }
        }

        .variation-container {
            margin-top: 60px;

            .row {
                border-top: 2px solid #ddd;
                padding-top: 20px;
                margin: 0 60px 20px;
            }

            h5 {
                font-size: 28px;
                margin: 25px 0;
                text-align: center;
            }

            .variation-list {
                display: flex;
                flex-wrap: wrap;
            }

            .variation {
                cursor: pointer;
                margin-bottom: 20px;
                padding: 0 5px;
                width: 20%;

                &.current, &:hover {
                    .variation-cont {
                        border: 2px solid #8c8c8c;
                    }
                }

                .variation-cont {
                    .img-cont {
                        background: url('../images/spinner.gif') 50% no-repeat;

                        &.img-loaded {
                            background: none;
                        }

                        @media (max-width: 1920px) {
                            min-height: 102px;
                        }
                        @media (max-width: 1440px) {
                            min-height: 90px;
                        }
                        @media (max-width: 1180px) {
                            min-height: 62px;
                        }
                        @media (max-width: 858px) {
                            min-height: 79px;
                        }
                        @media (max-width: 580px) {
                            min-height: 60px;
                        }
                    }
                }
            }

            .variation-cont {
                border: 2px solid white;
                height: 100%;
                position: relative;
                transition: 0.25s border;

                img {
                    padding: 25px;
                    width: 100%;
                }

                .variation-price {
                    bottom: 0;
                    font-size: 18px;
                    padding-bottom: 0;
                    position: absolute;
                    width: 100%;
                }
            }

            p {
                color: black;
                font-size: 14px;
                margin: 10px 0;
                padding: 0 10px 30px;
                text-align: center;

                &.small {
                    font-family: 'apercu';
                    margin-top: 0;
                    display: none;
                }
            }
        }
    }

    .side-panel {
        background-color: #ededed;
        margin-right: 35px;
        padding: 60px 25px 0;
        text-align: center;
        height: 1000px;
        width: 420px;

        &.fixed {
            position: fixed;
            top: 70px;
            right: 0;
        }

        h2 {
            font-size: 36px;
            margin-bottom: 10px;
        }

        h3 {
            border-bottom: 1px solid #aaa;
            font-size: 20px;
            padding-bottom: 10px;
        }

        form.cart {
            padding: 20px;
        }

        .variations {
            li {
                border-bottom: 1px solid #aaa;
                margin-bottom: 20px;
            }

            .label {
                color: black;
                font-size: 22px;

                label {
                    display: inline;
                }
            }

            select {
                -moz-appearance: none;
                -webkit-appearance: none;
                border: none;
                -webkit-border-radius: 0;
                border-radius: 0;
                padding: 7px 0;
                margin: 0 0 15px;
                font-family: apercu;
                font-size: 14px;
                font-weight: bold;
                width: 100%;
                background-color: #ededed;
                pointer-events: none;
                text-align: center;
                text-align-last: center;
            }
        }

        .single_variation_wrap {
            display: inline-block;

            .variations_button {
                margin-top: 20px;

                .button {
                    float: none;
                    font-size: 20px;
                    padding: 20px 63px;
                }
            }
        }

        .single_variation {
            span.price {
                color: #000000;
                font-size: 28px;
            }
        }
    }


    .variable-product {
        @media (max-width: 1440px) {
            .main-panel {
                padding-right: 395px;

                .recommended-setup {
                    .board-setup {
                        margin: 0 10px;
                        width: 28%;
                    }
                }

                .variation-container {
                    .row {
                        margin: 0 30px 20px;
                        padding: 0;
                    }

                    .variation {
                        width: 25%;
                    }

                    .variation-cont img {
                        padding: 10px;
                    }
                }
            }

            .side-panel {
                padding: 60px 15px 0;
                width: 360px;
            }
        }

        @media (max-width: 1180px) {
            .main-panel {
                .variation-container {
                    .variation {
                        width: 33.3333333333%;
                    }
                }
            }
        }

        @media (max-width: 858px) {
            .main-panel {
                padding-right: 0;

                .variation-container {
                    .variation {
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 12px;
                    }
                }
            }

            .side-panel {
                height: auto;
                padding: 60px 145px 25px;
                position: initial;
                width: 100%;
            }
        }

        @media (max-width: 730px) {
            .side-panel {
                padding: 60px 95px 25px;
            }
        }

        @media (max-width: 580px) {
            .main-panel {
                .recommended-setup {
                    .board-setup {
                        text-align: left;
                        width: calc(100% - 15px);

                        img {
                            width: 15%;
                        }

                        img, h4, > span {
                            float: left;
                        }

                        h4 {
                            margin: 6px 7%;
                            width: 50%;

                            p {
                                font-size: 16px;
                            }
                        }

                        > span {
                            width: 21%;
                        }

                        span {
                            font-size: 20px;
                        }
                    }
                }

                .variation-container {
                    .variation {
                        width: 50%;
                    }
                }
            }

            .side-panel {
                padding: 60px 45px 25px;
            }
        }

        @media (max-width: 436px) {
            .main-panel {
                .recommended-setup {
                    .board-setup {
                        h4 {
                            p {
                                font-size: 12px;
                            }
                        }

                        span {
                            font-size: 14px;
                        }
                    }
                }
            }

            .side-panel {
                .variations {
                    select {
                        font-size: 12px;
                    }
                }

                .single_variation_wrap {
                    .variations_button {
                        .button {
                            padding: 20px 50px;
                        }
                    }
                }
            }
        }

        @media (max-width: 390px) {
            .side-panel {
                .variations {
                    select {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

.zoomed-elmnt {
    background: #ffffff;
    position: absolute;
    padding: 20px;
    border: 2px solid #999;
    text-align: center;

    p {
        font-size: 14px;
        margin: 10px auto 0;
        width: 300px;

        &:first-of-type {
            font-size: 18px;
            margin-top: 15px;
        }
    }
}
